page-about {
    .page-title {
        padding: 80px 20px 0px 20px;
        color: $dark-grey;
        font-family: 'Roboto-bold';
        font-size: 2em;
    }
    .about-content {
        position: relative;
        height: auto;
        margin: 10px 20px;
    }
}
