<!-- Generated template for the SearchFilterComponent component -->
<div class="search-filter-container">
	<div class="search-field">
		<ion-icon name="search"></ion-icon>
		<ion-input placeholder="職位/公司名稱"></ion-input>
	</div>
	<div class="filter-options" *ngIf="filters">
		<div class="filter-option" *ngFor="let filter of filters">
			<div class="name">{{ filter.name }}</div>
			<div class="selections">
				<div class="sub-selection" *ngFor="let sub_filter of filter.options">
					<div class="name">{{ sub_filter.sub_name }}</div>
					<div class="selection" *ngFor="let sub_option of sub_filter.sub_options" [ngClass]="{'highlight' : sub_option.selected}">{{ sub_option }}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="operation-buttons">
		<button class="dull-btn operation-button">清除篩選</button>
		<button class="highlight-btn operation-button">搜尋工作</button>
	</div>
</div>
