<common-header [enable-back]="true"></common-header>

<ion-content>
    <div class="page-title">{{ 'RECOMMEND.EMPLOYER_TITLE' | translate }}</div>
    <!-- <div class="page-desp">有 3 項與你極符合的工作</div> -->
    <div class="recommendation-slider" *ngIf="user_preference">
        <ion-slides #cardSlider class="slide-list" *ngIf="recommendations && recommendations.length > 0" loop=false pager=true slidesPerView='auto' spaceBetween=15 centeredSlides=true>
            <ion-slide class="slide-item" *ngFor="let application of recommendations">
                <div class="card-flipper">
                    <div class="card-front">
                        <div class="upper-section">
                            <div class="thumbnail" *ngIf="application.applicant.thumbnail_url" [ngStyle]="{'background-image': 'url(' + application.applicant.thumbnail_url + ')'}"></div>
                            <div class="job-title">{{ application.applicant['name_' + language] }}</div>
                            <div class="info">
                                <span class="gender">{{ application.applicant['gender_' + language] }}</span>
                                <span class="age">({{ application.applicant.age }})</span>
                            </div>
                            <div class="ratings" *ngIf="application.applicant.feedbacks.length > 0">
                                <ionic3-star-rating 
                                    activeIcon = "md-star"
                                    defaultIcon = "md-star-outline"
                                    activeColor = "#fab712" 
                                    defaultColor = "#d9d7d7"
                                    readonly="true"
                                    [rating]="application.applicant.avg_ratings">
                                </ionic3-star-rating>
                                <div class="review-counts" *ngIf="application.applicant.feedbacks.length > 0">({{application.applicant.feedbacks.length}})</div>
                            </div>
                            <button class="detail-btn" (click)="seeDetail(application.applicant_user_id)">{{'ACTION.GO_DETAIL' | translate}}</button>
                        </div>
                        <div class="lower-section">
                            <div class="match-status">{{'RECOMMEND.THIS_CANDIDATE' | translate }} <span>{{ application['match_level_' + language] }}</span> {{'RECOMMEND.YOUR_REQ' | translate}}</div>
                            <div class="match-mark">
                                <div class="mark">{{ application.match_num }}</div>
                                <div class="total">/ {{ application.match_total_num }}</div>
                            </div>
                            <div class="match-list">
                                <ion-row class="match-item" *ngFor="let item of application.match_item">
                                    <ion-col col-7 class="match-name">{{ item['name_' + language] }}</ion-col>
                                    <ion-col col-5 class="match-content" *ngIf="item.name != 'monthly_wage' && item.name != 'hourly_wage'" [ngClass]="{'must': item.importance == 2}">
                                        {{ item.content['option_' + language] }}
                                        <!-- <img class="check-icon" src="../../assets/icon/tick.png"/> -->
                                        <ion-icon class="check-icon" name="ios-checkmark"></ion-icon>
                                    </ion-col>
                                    <ion-col col-5 class="match-content" *ngIf="item.name == 'monthly_wage' || item.name == 'hourly_wage'" [ngClass]="{'must': item.importance == 2}">
                                        {{ item.content }}
                                        <ion-icon class="check-icon" name="ios-checkmark"></ion-icon>
                                    </ion-col>
                                </ion-row>
                            </div>
                            <div class="operation-buttons">
                                <button class="red-btn operation-button" (click)="respondApplicant(application.id, false)">{{'ACTION.REJECT' | translate}}</button>
                                <button class="green-btn operation-button" (click)="respondApplicant(application.id, true)">{{'ACTION.CHOOSE' | translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-slide>
        </ion-slides>
    </div>
</ion-content>
