datetime-picker {
    .title {
        color: $dark-grey;
        font-family: 'Roboto-medium';
        font-size: 1.2em;
    }
    .datetime-wrapper {
        .datetime-item {
            padding: 5px 0px;
            color: $dark-grey;
            .date-info {
                position:relative;
                padding: 2px 0px;
                margin-bottom: 5px;
                border-bottom: 1px solid $light-grey;
                .date {
                    display: inline;
                    color: $font-yellow;
                    font-family: 'Roboto-bold';
                    font-size: 1.4em;
                }
                .weekday {
                    display: inline;
                    font-size: 0.8em;
                    font-family: 'Roboto-thin';
                }
            }
            .timeslots {
                .timeslot {
                    display: inline-block;
                    text-align: center;
                    padding: 2px 10px 2px 10px;
                    margin: 5px 0px;
                    font-family: 'Roboto-bold';
                    background-color: #f7f7f7;
                    color: $medium-grey;
                    box-shadow: $item-shadow;
                    border-radius: 5px;
                    box-shadow: $highlight-btn-shadow;
                    &.active {
                        color: #fff;
                        background: -moz-linear-gradient(-45deg, $gradient-yellow 0%, $gradient-orange 100%);
                        background: -webkit-linear-gradient(-45deg, $gradient-yellow 0%,$gradient-orange 100%);
                        background: linear-gradient(135deg, $gradient-yellow 0%,$gradient-orange 100%);
                    }
                    &.disable {
                        color: $dark-grey;
                        background-color: $light-grey;
                    }
                }
                .time {
                    font-size: 0.9em;
                }
                .status {
                    font-size: 0.8em;
                }
            }
        }
    }
    .operation-buttons {
        display: block;
        margin-top: 20px;
        .operation-button {
            display: inline-block;
            width: 47%;
            padding: 8px;
            font-size: 1em;
            font-family: 'Roboto-bold';
            border-radius: 5px;
            margin: 2px;
            &.dull-btn {
                background-color: #f7f7f7;
                color: $dark-grey;
                box-shadow: $item-shadow;
            }
            &.highlight-btn {
                background: -moz-linear-gradient(-45deg, $gradient-yellow 0%, $gradient-orange 100%);
                background: -webkit-linear-gradient(-45deg, $gradient-yellow 0%,$gradient-orange 100%);
                background: linear-gradient(135deg, $gradient-yellow 0%,$gradient-orange 100%);
                color: #fff;
                box-shadow: $highlight-btn-shadow;
            }
        }
    }
}
