<ion-content>
	<div class="title">申請工作日期及時間</div>
	<div class="datetime-wrapper">
		<div class="datetime-item">
			<div class="date-info">
				<div class="date">2018-09-01</div>
				<div class="weekday">星期一</div>	
			</div>
			<div class="timeslots">
				<div class="timeslot">
					<div class="time">11:00AM - 7:00PM</div>
					<div class="status">接受申請</div>
				</div>
				<div class="timeslot active">
					<div class="time">11:00AM - 7:00PM</div>
					<div class="status">接受申請</div>
				</div>
			</div>
		</div>
		<div class="datetime-item">
			<div class="date-info">
				<div class="date">2018-09-01</div>
				<div class="weekday">星期一</div>	
			</div>
			<div class="timeslots">
				<div class="timeslot active">
					<div class="time">11:00AM - 7:00PM</div>
					<div class="status">接受申請</div>
				</div>
				<div class="timeslot disable">
					<div class="time">11:00AM - 7:00PM</div>
					<div class="status">已滿</div>
				</div>
				<div class="timeslot">
					<div class="time">11:00AM - 7:00PM</div>
					<div class="status">接受申請</div>
				</div>
			</div>
		</div>
	</div>
	<div class="operation-buttons">
		<button class="dull-btn operation-button">取消</button>
		<button class="highlight-btn operation-button">申請工作</button>
	</div>
</ion-content>
