page-employer-profile {
    [ion-fixed] {
        position: relative;
        width: 100vw;
        height: $upper-fixed-height;
        display: block;
    }
    .scroll-content {
          margin-top: $upper-fixed-height;
    }
    .upper-section {
        .page-title {
            padding: 80px 20px 0px 20px;
            color: $dark-grey;
            font-family: 'Roboto-bold';
            font-size: 2em;
        }
    }

    // Page styling
    .profile-card {
        position: relative;
        margin: 10px 15px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: $item-shadow;
        height: 110px;
        .thumbnail {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            text-align: center;
            margin: auto;
            background-image: url('assets/img/sample/sample-icon.jpg');
            background-size: cover;
            background-position: 50%;
            box-shadow: $thumbnail-shadow;
        }
        .profile-info-wrapper {
            position: relative;
            .profile-info {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto 0;
                height: fit-content;
                .name {
                    color: $dark-grey;
                    font-family: $font-bold;
                    font-size: 1.2em;
                }
                .ratings {
                    .ionic3-star-rating[_ngcontent-c0] .button[_ngcontent-c0] {
                        margin: 0.1rem;
                        width: 15px;
                        height: 15px;
                    }
                    .ionic3-star-rating[_ngcontent-c0] .button[_ngcontent-c0] ion-icon[_ngcontent-c0] {
                        font-size: 20px;
                    }
                    .review-counts {
                        display: inline-block;
                        color: $medium-grey;
                        font-size: 0.6em;
                        font-family: $font-bold;
                    }
                }
            }
        }
    }
    .list-card {
        position: relative;
        margin: 10px 15px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: $item-shadow;
        .list-title {
            padding-left: 15px;
            padding-top: 10px;
            font-family: $font-regular;
            color: $medium-grey;
            font-size: 1em;
        }
        .list-item {
            font-family: $font-medium;
            color: $dark-grey;
            font-size: 1.2em;
            .item-inner {
                border-bottom: 1px solid $light-grey;
            }
            &:last-child {
                .item-inner {
                    border: none;
                }
            }
            &.logout-btn {
                color: $red;
            }
        }
    }
}
