<common-header></common-header>

<ion-content>
    <div class="upper-section" ion-fixed>
        <div class="page-title">我的個人檔案</div>
    </div>
    <ion-row class="profile-card" *ngIf="user_profile">
        <ion-col col-4>
			<div class="thumbnail" *ngIf="user_profile.thumbnail_url" [ngStyle]="{'background-image': 'url(' + user_profile.thumbnail_url + ')'}"></div>
        </ion-col>
        <ion-col class="profile-info-wrapper">
            <div class="profile-info">
                <div class="name">{{ user_profile['name_' + language] }}</div>
            </div>
        </ion-col>
    </ion-row>
    <div class="list-card my-profile">
        <div class="list-title">我的資料</div>
        <div class="my-profile-wrapper">
            <button ion-item class="list-item" (click)="openProfileDetailPage('personal_details')">{{ 'APPLICANT_PROFILE.PERSONAL_DETAILS' | translate }}</button>
            <button ion-item class="list-item" (click)="openApplicantPreferencePage()">要求及喜好</button>
        </div>
    </div>
    <div class="list-card my-record">
        <div class="list-title">我的紀錄</div>
        <button ion-item class="list-item" (click)="openApplicantRecordPage()">審批紀錄</button>
    </div>
    <div class="list-card my-settings">
        <div class="list-title">我的設定</div>
        <button ion-item class="list-item" detail-none>
            <ion-label>語言 Language</ion-label>
            <ion-select [(ngModel)]="language" (ionChange)="setLanguage(language)">
                <ion-option value="zh">繁體中文</ion-option>
                <ion-option value="en">英文</ion-option>
            </ion-select>
        </button>
        <div ion-item class="list-item">
            <ion-label>訊息通知開關</ion-label>
            <ion-toggle item-end [(ngModel)]="notiToggle"></ion-toggle>
        </div>
        <div ion-item class="list-item">
            <ion-label>照相機開關</ion-label>
            <ion-toggle item-end [(ngModel)]="cameraToggle"></ion-toggle>
        </div>
        <button ion-item class="list-item">條款及細則</button>
        <button ion-item class="list-item">聯絡我們</button>
        <button ion-item class="list-item" (click)="resetPassword()">重設密碼</button>
        <button ion-item class="list-item logout-btn" (click)="logout()">登出</button>
    </div>
</ion-content>
