page-employer-profile {
    ion-content {
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(67,198,172,1)), color-stop(100%, rgba(248,255,174,1))) !important;
        background: -webkit-linear-gradient(45deg, rgba(67,198,172,1) 0%, rgba(248,255,174,1) 100%);
    }
    .employer-thumbnail {
        margin: 0 auto;
        padding: 20px 0;
        width: 120px;
        height: auto;
        img {
            border: 3px solid white;
            border-radius: 50%;
        }
    }
    .employer-info {
        margin: 0 auto;
        text-align: center;
        color: white;
        font-weight: 700;
        .name {
            font-size: 20px;
            padding-bottom: 15px;
        }
        .stars {
            color: yellow;
        }
        .rating {
            font-size: 14px;
        }
    }
    ion-card {
        border-radius: 15px !important;
        .feedback-item {
            position: relative;
            .name {
                font-size: 16px;
                color: #9f9f9f;
            }
            .feedback {
                font-size: 14px;
                white-space: initial;
            }
            .rating {
                position: absolute;
                top: 15px;
                right: 0;
                font-size: 12px;
            }
        }
    }
}
