<common-header></common-header>

<ion-content>
    <div class="upper-section" ion-fixed>
        <div class="page-title">{{ 'PROFILE_MODAL.COMPANY_PROFILE' | translate }}</div>
    </div>
    <ion-row class="profile-card" *ngIf="user_profile">
        <ion-col col-4>
			<div class="thumbnail" *ngIf="user_profile.thumbnail_url" [ngStyle]="{'background-image': 'url(' + user_profile.thumbnail_url + ')'}"></div>
        </ion-col>
        <ion-col class="profile-info-wrapper">
            <div class="profile-info">
                <div class="name">{{ user_profile['name_' + language] }}</div>
            </div>
        </ion-col>
    </ion-row>
    <div class="list-card my-profile">
        <div class="list-title">{{ 'PROFILE_MODAL.MY_INFO' | translate }}</div>
        <div class="my-profile-wrapper">
            <button ion-item class="list-item" (click)="openProfileDetailPage()">公司資料</button>
            <button ion-item class="list-item" (click)="openApplicantPreferencePage()">要求及喜好</button>
        </div>
    </div>
    <div class="list-card my-record">
        <div class="list-title">{{ 'PROFILE_MODAL.MY_RECORD' | translate }}</div>
        <button ion-item class="list-item" (click)="openApplicantRecordPage()">僱員紀錄</button>
    </div>
    <div class="list-card my-settings">
        <div class="list-title">{{ 'PROFILE_MODAL.MY_SETTING' | translate }}</div>
        <button ion-item class="list-item" detail-none>
            <ion-label>語言 Language</ion-label>
            <ion-select okText="{{'ACTION.OK' | translate}}" cancelText="{{'ACTION.CANCEL' | translate}}" [(ngModel)]="language" (ionChange)="setLanguage(language)">
                <ion-option value="zh">繁體中文</ion-option>
                <ion-option value="en">英文</ion-option>
            </ion-select>
        </button>
        <div ion-item class="list-item">
            <ion-label>{{ 'PROFILE_MODAL.NOTI' | translate }}</ion-label>
            <ion-toggle item-end [(ngModel)]="notiToggle"></ion-toggle>
        </div>
        <!-- <div ion-item class="list-item">
            <ion-label>照相機開關</ion-label>
            <ion-toggle item-end [(ngModel)]="cameraToggle"></ion-toggle>
        </div> -->
        <button ion-item class="list-item" (click)="openTncPage()">{{ 'PROFILE_MODAL.TNC' | translate }}</button>
        <button ion-item class="list-item" (click)="openAboutPage()">{{ 'PROFILE_MODAL.ABOUT' | translate }}</button>
        <button ion-item class="list-item" (click)="updateMobile()">{{ 'ACTION.UPDATE_MOBILE' | translate }}</button>
        <button ion-item class="list-item" (click)="resetPassword()">{{ 'ACTION.RESET_PASSWORD' | translate }}</button>
        <button ion-item class="list-item logout-btn" (click)="logout()">{{ 'ACTION.LOGOUT' | translate }}</button>
    </div>
</ion-content>
