<ion-content>
    <button class="skip-btn" (click)="dismissModal()">
		稍後設定
		<ion-icon name="arrow-forward"></ion-icon>
	</button>
	<ion-slides class="profile-slider" #profileSlider>
		<ion-slide class="profile-slide" *ngFor="let step of settings_steps">
			<div class="page-title" *ngIf="step">{{ step['name_' + language] }}</div>
			<div class="list-card" *ngIf="step.fields">
				<div class="card-wrapper">
					<div class="item-wrapper" *ngFor="let field of step.fields" [ngSwitch]="field.field_type">
						<div ion-item class="list-item" *ngSwitchCase="'input'">
							<ion-label>{{ field['name_' + language] }}</ion-label>
							<ion-input [(ngModel)]="field.selection"item-end></ion-input>
						</div>
						<div ion-item class="list-item" *ngSwitchCase="'select'">
							<ion-label>{{ field['name_' + language] }}</ion-label>
							<ion-select [(ngModel)]="field.selection" ionChange="onChange(field)">
								<ion-option [value]="option.value" *ngFor="let option of field.options">{{ option['name_' + language] }}</ion-option>
							</ion-select>
						</div>
						<div ion-item class="list-item" *ngSwitchCase="'multi_select'">
							<ion-label>{{ field['name_' + language] }}</ion-label>
							<ion-select [(ngModel)]="field.selection" multiple="true" ionChange="onChange(field)">
								<ion-option [value]="option.value" *ngFor="let option of field.options">{{ option['name_' + language] }}</ion-option>
							</ion-select>
						</div>
						<div ion-item class="list-item" *ngSwitchCase="'date'">
							<ion-label>{{ field['name_' + language] }}</ion-label>
							<ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="field.selection"></ion-datetime>
						</div>
					</div>
				</div>
			</div>
			<button class="next-btn" (click)="goNextSection(step)">
				<ion-icon name="arrow-forward"></ion-icon>
			</button>
		</ion-slide>
		<ion-slide class="profile-slide">
			<div class="page-title">{{ 'PROFILE_MODAL.SKILLS' | translate }}</div>
			<div class="list-card">
				<div class="card-wrapper">
					<div class="item-wrapper language-abilities" *ngIf="language_abilities">
						<div ion-item class="list-item">
							<ion-label>{{ 'PROFILE_MODAL.LANGUAGE' | translate }}</ion-label>
							<ion-select [(ngModel)]="selected_languages" multiple="true">
								<ion-option [value]="ability.id" *ngFor="let ability of language_abilities">{{ ability['name_' + language] }}</ion-option>
							</ion-select>
						</div>
					</div>
					<div class="item-wrapper computer-skills" *ngIf="computer_skills">
						<div ion-item class="list-item">
							<ion-label>{{ 'PROFILE_MODAL.COMPUTER' | translate }}</ion-label>
							<ion-select [(ngModel)]="selected_skills" multiple="true">
								<ion-option [value]="skill.id" *ngFor="let skill of computer_skills">{{ skill['name_' + language] }}</ion-option>
							</ion-select>
						</div>
					</div>
					<div class="item-wrapper related-certs" *ngIf="related_certs">
						<div ion-item class="list-item">
							<ion-label>{{ 'PROFILE_MODAL.CERTS' | translate }}</ion-label>
							<ion-select [(ngModel)]="selected_certs" multiple="true">
								<ion-option [value]="cert.id" *ngFor="let cert of related_certs">{{ cert['name_' + language] }}</ion-option>
							</ion-select>
						</div>
					</div>
				</div>
			</div>
			<button class="next-btn" (click)="sendUpdateInfo(selected_languages, selected_skills, selected_certs)">
				<ion-icon name="arrow-forward"></ion-icon>
			</button>
		</ion-slide>
	</ion-slides>
    
</ion-content>