page-employer-job-create {
    .back-btn {
        position: relative;
        margin: 20px;
        padding: 0;
        text-align: center;
        color: $font-yellow;
        font-size: 15px;
        background: transparent !important;
        img {
            vertical-align: middle;
            margin: 0 auto;
            width: 25px;
            height: 25px;
        }
    }
    .page-title {
        padding: 0px 20px;
        color: $dark-grey;
        font-family: 'Roboto-bold';
        font-size: 2em;
    }
    .create-wrapper {
        position: relative;
        margin: 10px 20px;
        .field-item {
            margin: 10px 0;
            padding: 15px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: $item-shadow;
            .field-title {
                padding-bottom: 10px;
                color: $font-yellow;
                font-size: 14px;
                font-weight: 600;
            }
            .field-input {
                border-radius: 5px;
                background-color: #f7f7f7;
                margin-bottom: 10px;
                .text-input {
                    width: 90%;
                    min-height: 50px;
                    margin: auto;
                    color: $font-yellow;
                    font-size: 0.8em;
                    font-family: 'Roboto-bold';

                }
            }
        }
    }
}
