<common-header [enable-back]="true"></common-header>

<ion-content>
    <div class="page-title">所有申請</div>
    <div class="recommendation-slider" *ngIf="applications">
        <ion-slides #cardSlider class="slide-list" loop=false pager=true slidesPerView='auto' spaceBetween=15 centeredSlides=true>
            <ion-slide class="slide-item" *ngFor="let application of applications">
                <div class="card-flipper">
                    <div class="card-front">
                        <div class="upper-section">
                            <div class="thumbnail" *ngIf="application.applicant.thumbnail_url" [ngStyle]="{'background-image': 'url(' + application.applicant.thumbnail_url + ')'}"></div>
                            <div class="job-title">{{ application.applicant['name_' + language] }}</div>
                            <div class="info">
                              <span class="gender">{{ application.applicant['gender_' + language] }}</span>
                              <span class="age">({{ application.applicant.age }})</span>
                            </div>
                            <div class="ratings">
                                <ionic3-star-rating 
                                    activeIcon = "md-star"
                                    defaultIcon = "md-star-outline"
                                    activeColor = "#fab712" 
                                    defaultColor = "#d9d7d7"
                                    readonly="true"
                                    [rating]="4">
                                </ionic3-star-rating>
                                <div class="review-counts">(10)</div>
                            </div>
                        </div>
                        <div class="lower-section">
                            <div class="match-list">
                                <ion-row class="match-item">
                                  <ion-col col-7 class="match-name">教育程度</ion-col>
                                  <ion-col col-5 class="match-content">
                                      {{ application.applicant['education_' + language] }}
                                  </ion-col>
                                </ion-row>
                                <ion-row class="match-item">
                                  <ion-col col-7 class="match-name">就業狀況</ion-col>
                                  <ion-col col-5 class="match-content">
                                      {{ application.applicant['employment_' + language] }}
                                  </ion-col>
                                </ion-row>
                                <ion-row class="match-item">
                                  <ion-col col-7 class="match-name">相關工作經驗</ion-col>
                                  <ion-col col-5 class="match-content">
                                      {{ application.applicant['experience_' + language] }}
                                  </ion-col>
                                </ion-row>
                            </div>
                            <div class="operation-buttons">
                                <button class="dull-btn operation-button" (click)="seeDetail(application.applicant_user_id)">{{'ACTION.GO_DETAIL' | translate}}</button>
                                <button class="highlight-btn operation-button" (click)="hireApplicant(application.id)">{{'ACTION.CHOOSE' | translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-slide>
        </ion-slides>
    </div>
</ion-content>
