page-employer-applicant {
    .scroll-content {
        margin-top: 0 !important;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .page-title {
        padding: 80px 20px 0px 20px;
        color: $dark-grey;
        font-family: 'Roboto-bold';
        font-size: 2em;
    }
    .page-desp {
        padding: 0px 20px;
        color: $medium-grey;
        font-size: 0.9em;
        font-family: 'Roboto-medium';
    }
    .recommendation-slider {
        margin-top: 10px;
         // Override default style
        .swiper-container {
            overflow: visible;
        }
        .swiper-container-horizontal > .swiper-pagination-bullets {
            left: 0;
            bottom: -20px;
            width: 100%;
        }
        .swiper-pagination-bullet {
            border-radius: none;
            width: 8px;
            height: 2px;
            background: $light-grey;
            opacity: 1;
            margin: 0 3px !important;
            &.swiper-pagination-bullet-active {
                background: $font-yellow;
            }
        }
        .swiper-slide {
            position: relative;
            opacity: 0.7;
            width: 90%;
            height: 385px;
            margin-top: 20px;
            transition: all 0.2s;
            &.swiper-slide-active, .card-font, .card-back {
                opacity: 1;
                height: 435px;
                margin-top: 0px;
            }
            .slide-zoom {
                position: absolute;
                top: 0;
            }
        }
        // Flip card style
        .slide-item {
            perspective: 1000px;
            &.flipped .card-flipper {
                transform: rotateY(180deg);
            }
        }
        .card-flipper {
            transition: 0.6s;
            transform-style: preserve-3d;
            position: relative;
        }
        .card-front, .card-back {
            backface-visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            color: $dark-grey;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: $item-shadow;
            overflow: hidden;
        }
        .card-front {
            z-index: 2;
            transform: rotateY(0deg);
        }
        .card-back {
            transform: rotateY(180deg);
        }
        // Card content
        .card-front {
            position: relative;
            padding: 10px 15px;
            .upper-section {
                width: 100%;
                border-bottom: 1px solid $light-grey;
                padding-bottom:10px;
                
                .ratings {
                    display: inline-block;
                    .ionic3-star-rating[_ngcontent-c0] .button[_ngcontent-c0] {
                        margin: 0.1rem;
                        width: 15px;
                        height: 15px;
                    }
                    .ionic3-star-rating[_ngcontent-c0] .button[_ngcontent-c0] ion-icon[_ngcontent-c0] {
                        font-size: 20px;
                    }
                    .ionic3-star-rating {
                        display: inline-block;
                        bottom: 10px;
                        position: relative;
                    }
                    .review-counts {
                        position: relative;
                        bottom: 5px;
                        display: inline-block;
                        color: $medium-grey;
                        font-size: 0.6em;
                        font-family: $font-bold;
                    }
                }
                .thumbnail {
                    position: relative;
                    left: 0;
                    right: 0;
                    margin: 10px auto;
                    width: 115px;
                    height: 115px;
                    border-radius: 50%;
                    background-size: contain;
                    background-position: 50%;
                    box-shadow: $thumbnail-shadow;
                }
                .job-title {
                    font-family: 'Roboto-bold';
                    font-size: 1em;
                }
                .job-type {
                    font-family: $font-regular;
                    font-size: 0.8em;
                    .dot {
                        display: inline-block;
                        margin-bottom: 2px;
                        background-color: $red;
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                    }
                }
                span {
                    font-family: $font-medium;
                    font-size: 0.8em;
                    color: $medium-grey;
                }
                .detail-btn {
                    position: relative;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    display: block;
                    text-align: center;
                    text-decoration: underline;
                    background: transparent !important;
                    font-family: $font-medium;
                    color: $medium-grey;
                }
            }
            .lower-section {
                position: relative;
                text-align: left;
                .match-status {
                    padding-top: 40px;
                    color: $medium-grey;
                    font-family: $font-bold;
                    font-size: 1em;
                    span {
                        padding: 0px 5px;
                        color: $font-yellow;
                        font-size: 1em;
                    }
                }
                .match-mark {
                    position: absolute;
                    top: 5px;
                    right: -15px;
                    width: 70px;
                    height: 60px;
                    background: -moz-linear-gradient(-45deg, $gradient-yellow 0%, $gradient-orange 100%);
                    background: -webkit-linear-gradient(-45deg, $gradient-yellow 0%,$gradient-orange 100%);
                    background: linear-gradient(135deg, $gradient-yellow 0%,$gradient-orange 100%);
                    box-shadow: $highlight-btn-shadow;
                    border-radius: 5px 0 0 5px;
                    .mark {
                        position: absolute;
                        left: 10px;
                        top: 10px;
                        color: #fff;
                        font-size: 1.6em;
                        font-family: $font-bold;
                    }
                    .total {
                        position: absolute;
                        right: 10px;
                        bottom: 10px;
                        color: $dark-grey;
                        font-size: 0.8em;
                        font-family: $font-regular;
                    }
                }
                .match-list {
                    padding-top: 5px;
                    ion-col {
                        padding: 0;
                    }
                    .match-item {
                        font-size: 0.8em;
                        font-family: $font-medium;
                        margin: 3px 0px;
                        .match-name {
                            color: $dark-grey;
                        }
                        .match-content {
                            text-align: right;
                            color: $font-yellow;
                            .check-icon {
                                margin-left: 2px;
                                font-size: 20px;
                            }
                            &.must {
                                color: $red;
                                
                            }
                        }
                    }
                }
            }
            .operation-buttons {
                display: flex;
                padding: 10px 0;
                .operation-button {
                    flex: 1;
                    padding: 8px;
                    font-size: 1em;
                    font-family: 'Roboto-bold';
                    border-radius: 5px;
                    margin: 2px 4px;
                    &.dull-btn {
                        background-color: #f7f7f7;
                        color: $dark-grey;
                        box-shadow: $item-shadow;
                    }
                    &.highlight-btn {
                        background: -moz-linear-gradient(-45deg, $gradient-yellow 0%, $gradient-orange 100%);
                        background: -webkit-linear-gradient(-45deg, $gradient-yellow 0%,$gradient-orange 100%);
                        background: linear-gradient(135deg, $gradient-yellow 0%,$gradient-orange 100%);
                        color: #fff;
                        box-shadow: $item-shadow;
                    }
                    &.green-btn {
                        background: $green;
                        color: #fff;
                        box-shadow: $item-shadow;
                    }
                    &.red-btn {
                        background: $red;
                        color: #fff;
                        box-shadow: $item-shadow;
                    }
                }
            }
        }

        .card-back {
            width: 100%;
            padding: 10px 15px;
            .upper-section {
                border-bottom: 1px solid $light-grey;
                .job-card {
                    height: 110px;
                    margin: 0;
                }
                .thumbnail {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    text-align: center;
                    margin: auto;
                    background-image: url('../../assets/img/sample/island_pacific.jpg');
                    background-size: contain;
                    background-position: 50%;
                    box-shadow: $thumbnail-shadow;
                }
                .job-info {
                    text-align: left;
                    margin-left: 0px;
                    font-family: $font-bold;
                    color: $dark-grey;
                    .title {
                        display: inline-block;
                        font-size: 1em;
                    }
                    .job-type {
                        display: inline-block;
                        font-family: $font-medium;
                        font-size: 0.7em;
                        .dot {
                            display: inline-block;
                            margin-bottom: 2px;
                            background-color: $red;
                            width: 5px;
                            height: 5px;
                            border-radius: 50%;
                        }
                    }
                    .employer {
                        font-size: 0.7em;
                        color: $medium-grey;
                    }
                    .salary {
                        font-size: 0.9em;
                    }
                    .tags {
                        position: absolute;
                        bottom: 10px;
                        overflow: hidden;
                        .tag {
                            display: inline-block;
                            text-align: center;
                            padding: 2px 10px 2px 10px;
                            color: #fff;
                            font-size: 0.7em;
                            background: -moz-linear-gradient(-45deg, $gradient-yellow 0%, $gradient-orange 100%);
                            background: -webkit-linear-gradient(-45deg, $gradient-yellow 0%,$gradient-orange 100%);
                            background: linear-gradient(135deg, $gradient-yellow 0%,$gradient-orange 100%);
                            border-radius: 5px;
                            box-shadow: $highlight-btn-shadow;    
                            margin: 0px 5px;
                        }
                    }
                }
                .publish-date {
                    position: absolute;
                    right: 5px;
                    padding-top: 5px;
                    font-size: 0.7em;
                    font-family: $font-medium;
                }
                .fav-btn {
                    position: absolute;
                    bottom: 10px;
                    right: 5px;
                    ion-icon {
                        color: $red;
                    }
                }
            }
            .lower-section {
                position: relative;
                text-align: left;
                .match-status {
                    padding-top: 40px;
                    color: $medium-grey;
                    font-family: $font-bold;
                    font-size: 1em;
                    span {
                        padding: 0px 5px;
                        color: $font-yellow;
                        font-size: 1em;
                    }
                }
                .match-mark {
                    position: absolute;
                    top: 5px;
                    right: -15px;
                    width: 70px;
                    height: 60px;
                    background: -moz-linear-gradient(-45deg, $gradient-yellow 0%, $gradient-orange 100%);
                    background: -webkit-linear-gradient(-45deg, $gradient-yellow 0%,$gradient-orange 100%);
                    background: linear-gradient(135deg, $gradient-yellow 0%,$gradient-orange 100%);
                    box-shadow: $highlight-btn-shadow;
                    border-radius: 5px 0 0 5px;
                    .mark {
                        position: absolute;
                        left: 10px;
                        top: 10px;
                        color: #fff;
                        font-size: 1.6em;
                        font-family: $font-bold;
                    }
                    .total {
                        position: absolute;
                        right: 10px;
                        bottom: 10px;
                        color: $dark-grey;
                        font-size: 0.8em;
                        font-family: $font-regular;
                    }
                }
                .match-list {
                    padding-top: 5px;
                    ion-col {
                        padding: 0;
                    }
                    .match-item {
                        font-size: 0.8em;
                        font-family: $font-medium;
                        margin: 3px 0px;
                        .match-name {
                            color: $dark-grey;
                        }
                        .match-content {
                            text-align: right;
                            color: $font-yellow;
                            .check-icon {
                                margin-left: 2px;
                                font-size: 20px;
                            }
                            &.must {
                                color: $red;
                                
                            }
                        }
                    }
                }
            }
        }
    }

    .preference-msg {
        position: relative;
        margin: 20px;
        background-color: #fff;
        box-shadow: $item-shadow;
        border-radius: 5px;
        height: 300px;
        text-align: center;
        .msg-wrapper {
            position: absolute;
            top: 100px;
            left: 0;
            right: 0;
            margin: auto;
            width: 80%;
            color: $medium-grey;
            font-size: 0.9em;
            font-family: 'Roboto-medium';
            .go-setting-btn {
                display: block;
                text-align: center;
                width: 47%;
                padding: 8px;
                font-size: 1em;
                font-family: 'Roboto-bold';
                border-radius: 5px;
                margin: 50px auto;
                left: 0;
                right: 0;
                background: -moz-linear-gradient(-45deg, $gradient-yellow 0%, $gradient-orange 100%);
                background: -webkit-linear-gradient(-45deg, $gradient-yellow 0%,$gradient-orange 100%);
                background: linear-gradient(135deg, $gradient-yellow 0%,$gradient-orange 100%);
                color: #fff;
                box-shadow: $highlight-btn-shadow;
            }
        }
    }
}
