<common-header></common-header>

<ion-content>
    <div class="upper-section" ion-fixed>
        <div class="page-title">{{ 'RECORD.APPLICANT' | translate }}</div>
        <!-- <div class="page-desp">有 1 項待確認的工作</div> -->
    </div>
    <div class="records-wrapper" *ngIf="records">
        <!-- Record card item -->
        <div class="record-card" *ngFor="let record of records">
            <div class="row-wrapper" (click)="seeJobDetail(record.job.id)" tappable>
                <ion-row class="job-card">
                    <ion-col col-3>
                        <div class="thumbnail" [ngStyle]="{'background-image': 'url(' + record.job.employer.thumbnail_url + ')'}"></div>
                    </ion-col>
                    <ion-col col-9 class="job-info">
                        <div class="title">{{ record.job['name_' + language] }}</div>
                        <span class="job-type">
                            <div class="dot"></div>
                            {{ record.job['type_' + language] }}
                        </span>
                        <div class="employer">{{ record.job.employer['name_' + language] }}</div>
                        <div class="salary">{{ record.job['wage_' + language] }}</div>
                        <div class="tags">
                            <div class="tag"  *ngFor="let benefit of record.job.employer.benefits">{{ benefit['name_' + language] }}</div>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
            <div class="application-detail">
                <div class="title">{{ 'RECORD.PROGRESS' | translate }}</div>
                <div class="status" [ngStyle]="{'color': record.status_color }">{{ record['status_' + language]}}</div>
            </div>
            <div class="operation-buttons" [hidden]="record.allow_operation == 'none'">
                <button class="dull-btn operation-button" *ngIf="record.allow_operation == 'cancel'" (click)="cancelApplication(record.id)">{{ 'RECORD.APPLICATION_CANCEL' | translate }}</button>
            </div>
            <div class="operation-buttons" *ngIf="record.allow_operation == 'offer'">
                <button class="reject-btn operation-button" (click)="respondOffer(record.id, false)">{{ 'RECORD.OFFER_REJECT' | translate }}</button>
                <button class="accept-btn operation-button" (click)="respondOffer(record.id, true)">{{ 'RECORD.OFFER_ACCEPT' | translate }}</button>
            </div>
        </div>
    </div>
</ion-content>
