// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Global variables
$tabbar-height: 55px;
$tabbar-height-inset:  calc(env(safe-area-inset-bottom) + #{$tabbar-height});
$upper-fixed-height: 18vh;
$header-height: 80px;

// Theme color
$bg-white: #fafafa;
$font-white: #ffffff;
$light-grey: #d9d7d7;
$medium-grey: #a5a4a4;
$dark-grey: #494949;
$font-yellow: #fab712;
$gradient-yellow: #ffd200;
$gradient-orange: #f7a41e;

$red: #f05050;
$green: #4ebc4e;
$item-shadow: 0px 1px 3px rgba(170,170,170,0.3);
$thumbnail-shadow: 0px 3px 6px rgba(0,0,0,0.1);
$highlight-btn-shadow: 0px 3px 3px rgba(244,201,58,0.2);

$font-bold: 'Roboto-bold';
$font-medium: 'Roboto-medium';
$font-regular: 'Roboto-regular';
$font-light: 'Roboto-light';
$font-thin: 'Roboto-thin';

@font-face {
  font-family: $font-bold;
  src: url('../assets/fonts/Roboto-Bold.ttf');
}
@font-face {
  font-family: $font-medium;
  src: url('../assets/fonts/Roboto-Medium.ttf');
}
@font-face {
  font-family: $font-regular;
  src: url('../assets/fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: $font-light;
  src: url('../assets/fonts/Roboto-Light.ttf');
}
@font-face {
  font-family: $font-thin;
  src: url('../assets/fonts/Roboto-Thin.ttf');
}

ion-content, .fixed-content, .scroll-content{
    background-color: $bg-white !important;
    margin-bottom: $tabbar-height;
    ::-webkit-scrollbar {
		display: none !important; 
	}
}

ion-header, ion-navbar, .toolbar-background {
    background: transparent !important;
    border: none !important;
}

ion-navbar {
    position: absolute;
    top: 0;
    left: 0;
	right: 0;
	height: $header-height;
	.back-button {
		display: none !important;
	}
    .bar-button {
      color: $font-yellow !important;
	  img {
		  width: 25px;
		  height: 25px;
	  }
    }
}

[ion-fixed] {
  position: relative;
  width: 100vw;
  height: $upper-fixed-height;
  display: block;
}
.scroll-content {
  margin-top: $upper-fixed-height;
}

// Popover content
// .modal-open > :not(.modal) {
// 	-webkit-filter: blur(8px);
// 	-moz-filter: blur(8px);
// 	-o-filter: blur(8px);
// 	-ms-filter: blur(8px);
// 	filter: blur(8px);
// }

.search-filter {
  // ion-backdrop {
  //   background-color: #fff;
  //   opacity: 0.5 !important;
  // }
  .popover-content{ 
    width: 80vw; 
    height: auto;
    padding: 20px;
    border-radius: 5px;
  }
}