<ion-content padding>

	<div class="container">

		<!-- logo -->
		<!--<img src="assets/img/logo.png" />-->

		<!-- description -->
		<h5>There is a newer version available for download.</h5>
		<p>Current Version: <strong>{{curr_version_code}}</strong></p>
		<p *ngIf="new_versions">Latest Version: <strong>{{new_versions[0].code}}</strong></p>

		<!-- release notes -->
		<ion-list *ngIf="new_versions">
			<ion-list-header (click)="onClickReleaseNotes()">
				Release Notes
				<ion-icon item-right name="{{ show_release_notes_icon }}"></ion-icon>
			</ion-list-header>
			<div *ngIf="show_release_notes">
				<ion-item *ngFor="let version of new_versions">
					<h2>Version: {{version.code}} ({{version.publish_date}})</h2>
					<br/>
					<div [innerHTML]="version.release_notes"></div>
				</ion-item>
			</div>
		</ion-list>

		<!-- force upgrade -->
		<div *ngIf="force_upgrade">
			<a *ngIf="download_url" href="{{ download_url }}" target="_blank">
				<button ion-button full color="dark">Update to {{ new_versions[0].code }}</button>
			</a>
		</div>

		<!-- soft upgrade -->
		<div *ngIf="!force_upgrade">
			<ion-row>
				<ion-col width-50>
					<a class="download-btn" ion-button *ngIf="download_url" href="{{ download_url }}" target="_blank" dark full>
						Update to {{ new_versions[0].code }}
					</a>
				</ion-col>
				<ion-col width-50>
					<button ion-button (click)="dismiss()" full color="light">Skip</button>
				</ion-col>
			</ion-row>
		</div>

	</div>

</ion-content>