page-applicant-home {
    .upper-section {
        position: relative;
        width: 100vw;
        height: 20vh;
        .search-btn {
            position: absolute;
            top: 25px;
            right: 20px;
            color: $font-yellow;
            background: transparent !important;
            font-size: 30px;
        }
        .page-title {
            padding: 80px 20px 5px 20px;
            color: $dark-grey;
            font-weight: 800;
            font-size: 2em;
        }
    }
    .list-section {
        position: relative;
        overflow-x: hidden;
        overflow-y: scroll;
        .list-all-jobs {
            width: 100vw;
            .job-post {
                position: relative;
                margin: 8px 15px;
                background-color: #fff;
                border-radius: 5px;
                box-shadow: $item-shadow;
                height: 110px;
                .thumbnail {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    background-color: $font-yellow;
                    text-align: center;
                    margin: auto;
                }
                .job-info {
                    font-weight: 800;
                    color: $dark-grey;
                    .title {
                        display: inline-block;
                        font-size: 1.4em;
                    }
                    .job-type {
                        display: inline-block;
                        font-weight: 400;
                        .dot {
                            display: inline-block;
                            margin-bottom: 2px;
                            background-color: red;
                            width: 5px;
                            height: 5px;
                            border-radius: 50%;
                        }
                    }
                    .employer {
                        font-size: 1em;
                        color: $medium-grey;
                    }
                    .salary {
                        font-size: 1.1em;
                    }
                    .tags {
                        overflow: hidden;
                        .tag {
                            display: inline-block;
                            text-align: center;
                            padding: 2px 10px;
                            color: #fff;
                            font-size: 0.8em;
                            background: -moz-linear-gradient(-45deg, $gradient-yellow 0%, $gradient-orange 100%);
                            background: -webkit-linear-gradient(-45deg, $gradient-yellow 0%,$gradient-orange 100%);
                            background: linear-gradient(135deg, $gradient-yellow 0%,$gradient-orange 100%);
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
    }
}
