<ion-content>
	<div class="upper-section" ion-fixed>
		<button class="search-btn" (click)="openSearchFilter()">
			<ion-icon name="ios-search"></ion-icon>
		</button>
		<div class="page-title">所有工作</div>
	</div>
	<div class="list-section">
		<div class="list-all-jobs" *ngIf="jobs">
			<!-- Job Post Item -->
			<ion-row class="job-post" (click)="openJobPage()" tappable *ngFor="let job of jobs">
				<ion-col col-3>
					<div class="thumbnail" [ngStyle]="{'background-image': 'url(' + job.employer.thumbnail_url + ')'}"></div>
				</ion-col>
				<ion-col col-7 class="job-info">
					<div class="title">{{ job['name_' + language] }}</div>
					<span class="job-type">
						<div class="dot"></div>
						{{ job['type_' + language] }}
					</span>
					<div class="employer">{{ job.employer['name_' + language] }}</div>
					<div class="salary">{{ job['wage_' + language] }}</div>
					<div class="tags">
						<div class="tag">即日出糧</div>
						<div class="tag">即日出糧</div>
					</div>
				</ion-col>
				<ion-col col-2>
					<div class="publish-date">{{ job['diff_days_' + language]}}</div>
					<div class="fav-btn">
						<ion-icon name="heart"></ion-icon>
					</div>
				</ion-col>
			</ion-row>
		</div>
	</div>
</ion-content>