<common-header></common-header>

<ion-content>
    <div class="page-title">所有工作</div>
    <div class="page-desp">有 3 項與你極符合的工作</div>
    <div class="recommendation-slider" *ngIf="user_preference">
        <ion-slides #cardSlider class="slide-list" *ngIf="recommendations && recommendations.length > 0" loop=false pager=true slidesPerView='auto' spaceBetween=15 centeredSlides=true>
            <ion-slide class="slide-item" *ngFor="let job of recommendations" [class.flipped]="job.flipped">
                <div class="card-flipper">
                    <div class="card-front">
                        <div class="upper-section">
                            <div class="fav-btn">
                                <ion-icon name="heart"></ion-icon>
                            </div>
                            <div class="publish-date">{{ job['diff_days_' + language] }}</div>
                            <div class="thumbnail" [ngStyle]="{'background-image': 'url(' + job.employer.thumbnail_url + ')'}"></div>
                            <div class="job-title">{{ job['name_' + language] }}</div>
                            <div class="job-type">
                                <div class="dot"></div>
                                {{ job['type_' + language] }}
                            </div>
                            <div class="employer">{{ job.employer['name_' + language] }}</div>
                        </div>
                        <div class="lower-section">
                            <div class="match-status">{{'RECOMMEND.THIS_JOB' | translate }} <span>{{ job['match_level_' + language] }}</span> {{'RECOMMEND.YOUR_PREF' | translate}}</div>
                            <div class="mark">{{ job.match_num }}</div>
                            <div class="total">/ {{ job.match_total_num }} {{'RECOMMEND.PREF_NUM' | translate }}</div>
                            <div class="operation-buttons">
                                <button class="highlight-btn operation-button" (click)="flip(job)">{{'ACTION.GO_DETAIL' | translate}}</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-back">
                        <div class="upper-section">
                            <ion-row class="job-card">
                                <ion-col col-3>
                                    <div class="thumbnail" [ngStyle]="{'background-image': 'url(' + job.employer.thumbnail_url + ')'}"></div>
                                </ion-col>
                                <ion-col col-9 class="job-info">
                                    <div class="title">{{ job['name_' + language] }}</div>
                                    <span class="job-type">
                                        <div class="dot"></div>
                                        {{ job['type_' + language] }}
                                    </span>
                                    <div class="employer">{{ job.employer['name_' + language] }}</div>
                                    <div class="salary">{{ job['wage_' + language] }}</div>
                                    <div class="tags">
                                        <div class="tag" *ngFor="let benefit of job.employer.benefits">{{ benefit['name_' + language] }}</div>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </div>
                        <div class="lower-section">
                            <div class="match-status">{{'RECOMMEND.THIS_JOB' | translate }} <span>{{ job['match_level_' + language] }}</span> {{'RECOMMEND.YOUR_PREF' | translate}}</div>
                            <div class="match-mark">
                                <div class="mark">{{ job.match_num }}</div>
                                <div class="total">/ {{ job.match_total_num }}</div>
                            </div>
                            <div class="match-list">
                                <ion-row class="match-item" *ngFor="let item of job.match_item">
                                    <ion-col col-7 class="match-name">{{ item['name_' + language] }}</ion-col>
                                    <ion-col col-5 class="match-content" *ngIf="item.name != 'monthly_wage' && item.name != 'hourly_wage'">
                                        {{ item.content['option_' + language] }}
                                        <img class="check-icon" src="../../assets/icon/tick.png"/>
                                    </ion-col>
                                    <ion-col col-5 class="match-content" *ngIf="item.name == 'monthly_wage' || item.name == 'hourly_wage'">
                                        {{ item.content }}
                                        <img class="check-icon" src="../../assets/icon/tick.png"/>
                                    </ion-col>
                                </ion-row>
                            </div>
                        </div>
                        <div class="operation-buttons">
                            <button class="highlight-btn operation-button" (click)="flip(job)">{{'ACTION.APPLY_JOB' | translate}}</button>
                        </div>
                    </div>
                </div>
            </ion-slide>
        </ion-slides>
    </div>
    <div class="preference-msg" *ngIf="!user_preference">
        <div class="msg-wrapper">
            您還未設置喜好設定，<br>我們未能為你篩選符合你喜好的工作。<br>請到設定頁面，點選「要求及喜好」設置。
            <button class="go-setting-btn" (click)="goSettingPage()">
                現在設置
            </button>
        </div>
    </div>
</ion-content>
