.my-header {
    ion-navbar {
        height: 80px;
    }
    ion-buttons, button {
        color: $font-yellow !important;
    }
    .toolbar {
        padding: 5px 15px;
    }
    .logo {
        text-align: center;
        img {
            vertical-align: middle;
            margin: 0 auto;
            max-height: 35px;
        }
    }
}