<common-header [enable-back]="true"></common-header>

<ion-content>
	<div class="upper-section" ion-fixed>
		<div class="page-title">{{ 'PAGE.FAVOURITE' | translate }}</div>
	</div>
	<div class="list-section">
		<div class="list-all-jobs" *ngIf="jobs">
			<!-- Job Post Item -->
			<ion-row class="job-post" (click)="openJobPage(job.id)" tappable *ngFor="let job of jobs">
				<ion-col col-3>
					<div class="thumbnail" [ngStyle]="{'background-image': 'url(' + job.employer.thumbnail_url + ')'}"></div>
				</ion-col>
				<ion-col col-7 class="job-info">
					<div class="title">{{ job['name_' + language] }}</div>
					<span class="job-type">
						<div class="dot"></div>
						{{ job['type_' + language] }}
					</span>
					<div class="employer">{{ job.employer['name_' + language] }}</div>
					<div class="salary">{{ job['wage_' + language] }}</div>
					<div class="tags">
						<div class="tag" *ngFor="let benefit of job.employer.benefits">{{ benefit['name_' + language] }}</div>
					</div>
				</ion-col>
				<ion-col col-2>
					<div class="publish-date">{{ job['diff_days_' + language]}}</div>
					<button class="fav-btn" (click)="clickFav($event, job.id)">
            <ion-icon [hidden]="!checkFav(job.id)" name="heart"></ion-icon>
            <ion-icon [hidden]="checkFav(job.id)" name="heart-outline"></ion-icon>
          </button>
				</ion-col>
			</ion-row>
		</div>
	</div>
</ion-content>