<ion-content>
	<div class="title">你對此僱員有什麼意見？</div>
	<div class="section">
		<div class="name">顯示名稱</div>
		<ion-input [(ngModel)]="username"></ion-input>
	</div>
	<div class="section">
		<div class="name">評語/留言</div>
		<ion-textarea [(ngModel)]="feedback"></ion-textarea>
	</div>
	<div class="rating-wrapper">
		<div class="rate">
			<input type="radio" [(ngModel)]="rating" id="star5" name="rate" value="5" />
			<label for="star5" title="text">5 stars</label>
			<input type="radio" [(ngModel)]="rating" id="star4" name="rate" value="4" />
			<label for="star4" title="text">4 stars</label>
			<input type="radio" [(ngModel)]="rating" id="star3" name="rate" value="3" />
			<label for="star3" title="text">3 stars</label>
			<input type="radio" [(ngModel)]="rating" id="star2" name="rate" value="2" />
			<label for="star2" title="text">2 stars</label>
			<input type="radio" [(ngModel)]="rating" id="star1" name="rate" value="1" />
			<label for="star1" title="text">1 star</label>
		</div>
	</div>
	<div class="operation-buttons">
		<button class="highlight-btn operation-button" (click)="submitFeedback()">{{ 'ACTION.SUBMIT' | translate }}</button>
	</div>
</ion-content>
