<div class="card-slider">
    <ion-slides #cardSlider class="slide-list" *ngIf="slidesInfo && slidesInfo.length > 0" loop=true pager=true>
        <ion-slide class="slide-item" *ngFor="let job of slidesInfo" [class.flipped]="job.flipped">
			<div class="card-flipper">
				<div class="card-front">
					<div class="upper-section">
						<div class="fav-btn">
							<ion-icon name="heart"></ion-icon>
						</div>
						<div class="publish-date">{{ job.publish_date }}</div>
						<div class="thumbnail"></div>
						<div class="job-title">{{ job.name }}</div>
						<div class="job-type">
							<div class="dot"></div>
							{{ job.job_type }}
						</div>
						<div class="employer">{{ job.employer_name }}</div>
					</div>
					<div class="lower-section">
						<div class="match-status">此項工作<span>{{ job.match_level }}</span>你的喜好</div>
						<div class="mark">{{ job.match_mark }}</div>
						<div class="total">/ {{ job.total_mark }} 個喜好</div>
						<div class="operation-buttons">
							<button class="highlight-btn operation-button" (click)="flip(job)">查看詳情</button>
						</div>
					</div>
				</div>
				<div class="card-back">
					<div class="upper-section">
						<ion-row class="job-card">
							<ion-col col-3>
								<div class="thumbnail"></div>
							</ion-col>
							<ion-col col-9 class="job-info">
								<div class="title">{{ job.name }}</div>
								<span class="job-type">
									<div class="dot"></div>
									{{ job.job_type }}
								</span>
								<div class="employer">{{ job.employer_name }}</div>
								<div class="salary">{{ job.salary }}</div>
								<div class="tags">
									<div class="tag" *ngFor="let tag of job.tags">{{ tag }}</div>
								</div>
							</ion-col>
						</ion-row>
					</div>
					<div class="lower-section">
						<div class="match-status">此項工作<span>{{ job.match_level }}</span>你的喜好</div>
						<div class="match-mark">
							<div class="mark">{{ job.match_mark }}</div>
							<div class="total">/ {{ job.total_mark }}</div>
						</div>
						<div class="match-list">
							<ion-row class="match-item" *ngFor="let match_item of job.match_items">
								<ion-col col-7 class="match-name">{{ match_item.name }}</ion-col>
								<ion-col col-5 class="match-content">{{ match_item.content }}
									<img class="check-icon" src="../../assets/icon/tick.png"/>
								</ion-col>
							</ion-row>
						</div>
					</div>
					<div class="operation-buttons">
						<button class="highlight-btn operation-button" (click)="flip(job)">申請此工作</button>
					</div>
				</div>
			</div>
        </ion-slide>
    </ion-slides>
</div>
