<common-header [enable-back]="true"></common-header>

<ion-content>
	<div class="page-title" *ngIf="detail">{{ detail.name_zh }}</div>
    <div class="list-card" *ngIf="detail.fields">
        <div class="card-wrapper">
            <div class="item-wrapper" *ngFor="let field of detail.fields" [ngSwitch]="field.field_type">
				<!-- <div  > -->
					<div ion-item class="list-item" *ngSwitchCase="'input'">
						<ion-label>{{ field.name }}</ion-label>
						<ion-input item-end placeholder="Hi"></ion-input>
					</div>
					<div ion-item class="list-item" *ngSwitchCase="'select'">
						<ion-label>{{ field.name }}</ion-label>
						<ion-select [(ngModel)]="field.selection" ionChange="onChange(field)">
							<ion-option [value]="option" *ngFor="let option of field.options">{{ option }}</ion-option>
						</ion-select>
					</div>
					<div ion-item class="list-item" *ngSwitchCase="'multi_select'">
						<ion-label>{{ field.name }}</ion-label>
						<ion-select [(ngModel)]="field.selection" multiple="true" ionChange="onChange(field)">
							<ion-option [value]="option" *ngFor="let option of field.options">{{ option }}</ion-option>
						</ion-select>
					</div>
					<div ion-item class="list-item" *ngSwitchCase="'date'">
						<ion-label>{{ field.name }}</ion-label>
						<ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="field.selection"></ion-datetime>
					</div>
				<!-- </div> -->
            </div>
        </div>
	</div>
	<div class="list-card" *ngIf="detail.type == 'work_experiences'">
		<div class="list-title">我的工作經驗</div>
		<div class="add-btn">
			<ion-icon name="md-add"></ion-icon>
		</div>
		<div class="experience-list-wrapper">
			<timeline>
				<timeline-item *ngFor="let experience of experiences">
					<timeline-time [time]="experience.time"></timeline-time>
					<div class="timeline-dot"></div>
					<div class="experience-wrapper">
						<div class="job-title">{{experience.job_title}}</div>
						<div class="company">{{experience.company}}</div>
						<div class="desp">{{experience.description}}</div>
					</div>
				</timeline-item>
			</timeline>
		</div>
	</div>
</ion-content>
