<!-- <common-header [enable-back]="true"></common-header> -->

<ion-content>
	<button ion-button class="back-btn" (click)="backToProfile()">
		<img src="assets/icon/back.png"/>
	</button>
	<div class="page-title" *ngIf="detail_type">{{ detail_title | translate }}</div>
    <div class="list-card" *ngIf="detail_type == 'personal_details' || detail_type == 'work_experiences'">
        <div class="card-wrapper">
			<div class="item-wrapper" *ngFor="let field of detail_fields" [ngSwitch]="field.field_type">
				<div ion-item class="list-item" *ngSwitchCase="'input'">
					<ion-label>{{ field['name_' + language] }}</ion-label>
					<ion-input [(ngModel)]="field.selection"item-end></ion-input>
				</div>
				<div ion-item class="list-item" *ngSwitchCase="'select'">
					<ion-label>{{ field['name_' + language] }}</ion-label>
					<ion-select [(ngModel)]="field.selection">
						<ion-option [value]="option.value" *ngFor="let option of field.options">{{ option['name_' + language] }}</ion-option>
					</ion-select>
				</div>
				<div ion-item class="list-item" *ngSwitchCase="'multi_select'">
					<ion-label>{{ field['name_' + language] }}</ion-label>
					<ion-select [(ngModel)]="field.selection" multiple="true">
						<ion-option [value]="option.value" *ngFor="let option of field.options">{{ option['name_' + language] }}</ion-option>
					</ion-select>
				</div>
				<div ion-item class="list-item" *ngSwitchCase="'date'">
					<ion-label>{{ field['name_' + language] }}</ion-label>
					<ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="field.selection"></ion-datetime>
				</div>
			</div>
        </div>
	</div>
	<div class="list-card" *ngIf="detail_type == 'skills_certificates'">
        <div class="card-wrapper">
			<div class="item-wrapper language-abilities" *ngIf="language_abilities">
				<div ion-item class="list-item">
					<ion-label>{{ 'PROFILE_MODAL.LANGUAGE' | translate }}</ion-label>
					<ion-select [(ngModel)]="selected_languages" multiple="true">
						<ion-option [value]="ability.id" *ngFor="let ability of language_abilities">{{ ability['name_' + language] }}</ion-option>
					</ion-select>
				</div>
			</div>
			<div class="item-wrapper computer-skills" *ngIf="computer_skills">
				<div ion-item class="list-item">
					<ion-label>{{ 'PROFILE_MODAL.COMPUTER' | translate }}</ion-label>
					<ion-select [(ngModel)]="selected_skills" multiple="true">
						<ion-option [value]="skill.id" *ngFor="let skill of computer_skills">{{ skill['name_' + language] }}</ion-option>
					</ion-select>
				</div>
			</div>
			<div class="item-wrapper related-certs" *ngIf="related_certs">
				<div ion-item class="list-item">
					<ion-label>{{ 'PROFILE_MODAL.CERTS' | translate }}</ion-label>
					<ion-select [(ngModel)]="selected_certs" multiple="true">
						<ion-option [value]="cert.id" *ngFor="let cert of related_certs">{{ cert['name_' + language] }}</ion-option>
					</ion-select>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="list-card" *ngIf="detail.type == 'work_experiences'">
		<div class="list-title">我的工作經驗</div>
		<div class="add-btn">
			<ion-icon name="md-add"></ion-icon>
		</div>
		<div class="experience-list-wrapper">
			<timeline>
				<timeline-item *ngFor="let experience of experiences">
					<timeline-time [time]="experience.time"></timeline-time>
					<div class="timeline-dot"></div>
					<div class="experience-wrapper">
						<div class="job-title">{{experience.job_title}}</div>
						<div class="company">{{experience.company}}</div>
						<div class="desp">{{experience.description}}</div>
					</div>
				</timeline-item>
			</timeline>
		</div>
	</div> -->
</ion-content>
